figure {
  display: inline-block;
  float: left;
  position: relative;
}
video,
canvas {
  width: 640px;
  height: 480px;
}
canvas.pixel {
  image-rendering: pixelated;
}
.box {
  position: absolute;
  width: 50px;
  height: 50px;
}
.box-topleft {
  top: 0;
  left: 0;
}
.box-topright {
  top: 0;
  right: 0;
}
.box-bottomleft {
  bottom: 0;
  left: 0;
}
.box-bottomright {
  bottom: 0;
  right: 0;
}
.red {
  background-color: #f00;
}
.yellow {
  background-color: #ff0;
}
.blue {
  background-color: #00f;
}
.green {
  background-color: #008000;
}
